body {
    background-color: #7EC0EE; /* Color celeste de fondo */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  img {
    width: 150px; /* Tamaño de la imagen carnet */
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  ul {
    padding-left: 0;
    list-style-type: none;
  }
  
  .section-header {
    font-weight: bold;
    margin-right: 5px;
    color: rgb(37, 80, 145);
  }
  
  .section-content {
    margin-left: 10px;
  }
  
  
  h1, h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  h2{
    color:blue;
  }
  .ecuador {
    color: rgb(224, 228, 15);
  }
  
  .manta {
    color: rgb(17, 0, 255);
  }
  
  .pradera {
    color: rgb(241, 24, 24);
  }

  .container {
    width: 50%;
    margin: 0 auto;
    border: 5px solid rgb(63, 32, 201);
    padding: 20px;
    background-color: rgb(209, 247, 252);
    text-align: center; /* Centrar contenido */
  }
  table {
    border-collapse: collapse;
    width: 100%;
    margin: 15px 0;
    font-size: 1.2em;
    font-family: Arial, sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }
  
  th,
  td {
    padding: 12px 15px;
  }
  
  tbody tr {
    border-bottom: 1px solid #c8d32c;
  }
  
  tbody tr:nth-of-type(even) {
    background-color: #6bd4cc;
  }
  
  tbody tr:last-of-type {
    border-bottom: 2px solid #e20417;
  }